.container{
    margin-top: 9px;
}
.fix{
    padding: 0.25rem;
}
.bg-light{
    background-color: #e5e5e5!important;
}
.card{
    border-radius: 0!important;
    border: 0!important;
}
.card-body{
    border: 1px solid rgba(0,0,0,.125);
}
.small{
    display: block;
}
.form-heading{
    text-align:center; margin-top:15px; margin-bottom:30px;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
#map{
    height: 400px;
    width: 100%;
}
